*{
	margin:0px;
	padding: 0px;
}

.header-static .col h2 {
    font-size: 18px;
    color: #3ba37b;
}

.header-static .header-time {
    float: right;
}

.header-static .col {
    float: right;
    width: 188px;
    height: 69px;
}

.header-box ul li a {
    color: #737373;
}

.header-box ul {
    background: #f1f1f1;
    /* height: 36px; */
    /* padding: 12px; */
    /* line-height: 11px; */
    border-radius: 12px;
}

.header-box ul li {
    border-right: 2px solid white;
    height: 36px;
    width: 83px;
    line-height: 36px;
    text-align: center;
}

.header-box {
    float: right;
}

.header-box ul li {
    display: inline-block;
}
.clr{
	clear: both;
}