*{
    margin:0px;
    padding: 0px;
}



.nav-container ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    width: 116px;
    height: 42px;
    display: block;
}



.nav-container {
    height: 42px;
    background-color: #9ac56a;
}

.nav-container ul li {
    display: inline-block;
    width: 116px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-right: 1px solid white;
}

.nav-container ul li:first-child {
    border-left: 1px solid white;
}

.nav-container ul li:hover {
    background-color: #f68933;
}

.container {
    padding-bottom: 10px;
}

.header {
    background-color: #ebf5e0;
}

.header-static .col p {
    font-size: 16px;
    color: #736e6e;
}

.header-static .col h2 {
    font-size: 18px;
    color: #2fab7b;
}

.header-static .header-time {
    float: right;
}

.header-static .col {
    float: right;
    width: 188px;
    height: 69px;
}

.header-static .header-time h2 {
    color: #f9aa6c;
}

.header-box ul li a {
    color: #737373;
}

.header-box ul {
    background: #e3e3e3;

    border-radius: 12px;
}

.header-box ul li {
    border-right: 2px solid white;
    height: 36px;
    width: 83px;
    line-height: 36px;
    text-align: center;
}

.header-box ul li:last-child {
    border: none;
}

.header-box {
    float: right;
}

.header-box ul li {
    display: inline-block;
}
.clr{
    clear: both;
}