*{
    margin:0px;
    padding: 0px;
}

.copyright .icon div {
    float: right;
}

.col-sm-6 {}

.row.copyright {
    height: 45px;
    line-height: 45px;
    background-color: black;
    color: #c7c7c7;
}

.row.copyright a {
    color: #d6d6d6;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: none;
    color: red;
}

.footer .content1 ul li {
    background: url(https://muahoaonline.com/skin/frontend/dalat_v2/default/images/icon-footer.png) 0px 5px no-repeat;
    padding-left: 12px;
    margin: 13px 0px;
}

.footer .content >ul >li {
    margin: 24px 0px;
}

.footer .content >ul >li h4 {
    background: url(https://muahoaonline.com/skin/frontend/dalat_v2/default/images/bg-shoplocation-footer.png) center left no-repeat;
    padding-left: 21px;
}

hr {}

.footer .info .info-Cat li h3 {
    font-size: 20px;
    padding-bottom: 13px;
    background: url(https://muahoaonline.com/skin/frontend/dalat_v2/default/images/bg-line.jpg) repeat-x left bottom;
}

.footer ul li {
    list-style: none;
}

.info {
    background: url(https://muahoaonline.com/skin/frontend/dalat_v2/default/images/bg-footer.jpg) repeat;
    color: #636262;
}

.footer .info .info-Cat >li {
    width: 330px;
    float: left;
    margin-right: 50px;
}

.footer .row .container p:first-child img {
    float: right;
    width: 380px;
}

.footer .row .container p:first-child img:nth-child(2) {
    padding-top: 4px;
}



.nav-container ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    width: 116px;
    height: 42px;
    display: block;
}



.nav-container {
    height: 42px;
    background-color: #9ac56a;
}

.nav-container ul li {
    display: inline-block;
    width: 116px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    border-right: 1px solid white;
}

.nav-container ul li:first-child {
    border-left: 1px solid white;
}

.nav-container ul li:hover {
    background-color: #f68933;
}

.container {
    padding-bottom: 10px;
}

.header {
    background-color: #ebf5e0;
}

.header-static .col p {
    font-size: 16px;
    color: #736e6e;
}

.header-static .col h2 {
    font-size: 18px;
    color: #2fab7b;
}

.header-static .header-time {
    float: right;
}

.header-static .col {
    float: right;
    width: 188px;
    height: 69px;
}

.header-static .header-time h2 {
    color: #f9aa6c;
}

.header-box ul li a {
    color: #737373;
}

.header-box ul {
    background: #e3e3e3;

    border-radius: 12px;
}

.header-box ul li {
    border-right: 2px solid white;
    height: 36px;
    width: 83px;
    line-height: 36px;
    text-align: center;
}

.header-box ul li:last-child {
    border: none;
}

.header-box {
    float: right;
}

.header-box ul li {
    display: inline-block;
}
.clr{
    clear: both;
}